* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0E0F26;
    font-family: 'Bree Serif', serif;
    scroll-behavior: smooth;
    margin: 0;
    overflow: hidden;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1 1.5;
    }

    to {
        rotate: 360deg
    }
}

#blob {
    background-color: #fff;
    height: 10vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #302399, #5F23A5);
    animation: rotate infinite 20s;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(5vmax);
}